@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.symbol{
    text-transform: uppercase;
}
table{
    width: 99vw;
}

tbody{
    width: 99vw;
}

tr{
    width: 99VW;
    justify-content: space-between;
    
}

td{
    text-align: center;
    height: 5vh;
    padding-bottom: 2vh;
    padding-top: 1vh;
    border-bottom: 2px solid gray;
}

img{
   position: relative;
   top: 5px;
}